.navbar {
  background: #444;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #667eea;
}

.navbar-user-name {
    color: white;
    margin-right: 16px;
}

.currently-open {
    color: #667eef!important;
    font-weight: bold;
    border-bottom: 2px solid #667eea;
}