<div class="login-container">
    <h2 class="login-title"> RAF Cloud </h2>
    <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}} </div>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="credentials.email" name="email" required>
        </div>
        <div class="form-group">
            <label>Lozinka</label>
            <input type="password" [(ngModel)]="credentials.password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Prijavi se</button>
    </form>
    <div style="margin-top: 20px; text-align: center; color: #666;">
        <small>Test nalozi:<br>
            admin@raf.rs / admin123 <br>
            user@raf.rs / user123</small>
    </div>
</div>